/*
 * Here you can adjust the styles for the Darkblock Widget
 * with your own custom theme.
 */

.DarkblockWidget-App {
  @apply font-sans text-gray-500 bg-fontColor;
}

.DarkblockWidget-App .DarkblockWidget-Footer {
  @apply px-2 py-3;
}

.DarkblockWidget-App .DarkblockWidget-Stack-Panel {
  @apply bg-fontColor;
}
